#corpitcho{
  /* border: solid white; */
  margin-top: 72px;
  width: 1040px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;

  

h3{
  color: var(--color-red);
  font:var(--subtitle);
  margin-bottom: 8px;
}
strong{
  color: var(--color-gray-600);
  font: var(--text-md);

}
}
