.body{
    
  /* border: solid white; */
  
  background-image: url(../assets/img/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  width: 100%;
  object-fit: cover;
  padding-top: 120px  ;
  
  background-position: center;
  
  
}

main{
  width: 1040px;
  
  /* margin-top: 120px ; */
  margin-bottom:  183px ;
  margin-left: auto;
  margin-right: auto;
  ul{ 
    
    display: flex;
    height: 40px;
    list-style: none;
    color: var(--color-gray-500);
    width:750px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    
  }
  
  li{
    display: flex;
    
    align-items: center;
    padding: 8px 14px;
    border-radius: 999px;
    background-color: var(--color-gray-300);
  } 
}
#fotinha{
 
  
  display: flex;
  position: absolute;
  z-index: 1;

  right: -5px;
  bottom: 0 ;
  
}

#fotona{
  object-fit: cover;
  margin: auto;
  display: flex;
  width: 100px;
  height: 100px; 
}
#avatar{
  height: 112px;
  width: 112px;
  display: flex;
  position: relative;
  
  border: 1px solid var(--color-red);
  border-radius: 50%;
  
  margin:0 284px 56px ;
  
}
  
header{
  
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 680px;
  
  h1{
    color: 67px;
    font: var(--text-lg);
    color: var(--color-gray-600);
    margin-bottom: 20px;
    margin-top: 8px;
  }
  h2{
    height: 24px;
    font:var(--subtitle);
    color: var(--color-gray-500);
  }
  p{
    text-align: center;
    height: 40px;
    font-size: var(--text-sm-maven);
    color: var(--color-gray-400);
    margin-bottom:80px;
  }
  span{
    color: var(--color-red);
  }
}


/* #avatar {
  
 margin: 0 auto 215px;
  display: flex;
  align-items: center;
  border: solid gray;
  border-radius: 50%;
  width: 95px;
  height:95px;
} */


#setabaixa{
  
  
  width: 32px;
  height: 32px;
  display: flex;
  margin-top: 94px ;
  margin-left: auto;
  margin-right: auto;

}
